body{
  background-color: #ffe227;
  font-family: 'Montserrat', sans-serif;;
  line-height: 1.5rem;
  color: #eb596e;
  padding: 2rem 0 0 0;
  text-align: center;
}

h1{
  font-size: 5rem;
  font-weight: 800;
  margin: 2rem 5rem 10rem 5rem;

}

h3{
  font-weight: 600;
  font-size: 5rem;
  margin: 2rem 5rem 2rem 5rem;
}

.card {
  background-color: #ffe227;
  border-style: none;
  width: 250px;
  height:250px;
}

.card img{
  margin: 2px auto 2px auto;
  height: 250px;
  width: 250px;
}

button{
  position: relative;
  top: 20rem;
}
a{
  color: black;
}
